<p>This is a toy.  All it does is pull the artists bio and photo from their Facebook profile via the <a href="http://developers.facebook.com/docs/reference/api/" title="Improve Your Experience | Facebook">graph API</a> and their last 3 tweets from the <a href="https://dev.twitter.com/docs/api">Twitter API</a>.  <em>Notice how you don't have to be logged in to check out Twitter's API docs?</em>  Anyway.</p>
<p>No caching of any of that stuff, so sometimes it just sits here.  Try reloading in that case.</p>

<h2>All bands</h2>

<% @bands.each do |band| %>
  <div class="band">
    <a href="/bands/<%= band.id %>"><%= band.name %></a>
  </div>
<% end %>
