<p>This is a toy.  All it does is pull the artists bio and photo from their Facebook profile via the "graph" API and their last 3 tweets from the Twitter API.</p>

<h2>All bands</h2>

<% @bands.each do |band| %>
  <div class="band">
    <a href="/bands/<%= band.id %>"><%= band.name %></a>
  </div>
<% end %>
