<h1><%= dat_render(@parsed['name']) %></h1>

<p><%= dat_render(@parsed['bio']) %></p>

<div class="tweets">
  <% @tweets.each do |tweet| %>
  <div>
    <p><%= tweet['text'] %></p>
  </div>
  <% end %>
</div>

<div>
  <img src="<%= @parsed['cover']['source']%>">
</div>