<div id="new-band">
  <form action="/bands/new" method="post">
    <div class="field">
      <label for="band_name">Band Name</label>
      <input type="text" name="band[name]" value="" />
    </div>
    <div class="field">
      <label for="twitter_user">Twitter Username</label>
      <input type="text" name="band[twitter_user]" value="" />
    </div>  
    <div class="field">
      <label for="facebook_user">Facebook Username</label>
      <input type="text" name="band[fb_user]" value="" />
    </div>
    <div class="field submit">
      <input type="submit" value="kick it &rarr;">
    </div>
  </form>
</div>