<div id="new-band">
  <form action="/bands/new" method="post">
    <div class="field">
      <label for="band_name">Band Name</label><br />
      <input type="text" name="band[name]" value="" />
    </div>
    <div class="field">
      <label for="twitter_user">Twitter User</label><br />
      <input type="text" name="band[twitter_user]" value="" />
    </div>  
    <div class="field">
      <label for="facebook_user">Facebook User</label><br />
      <input type="text" name="band[fb_user]" value="" />
    </div>
    <div class="field submit">
      <input type="submit" value="Continue &rarr;">
    </div>
  </form>
</div>