h1, h2 {
  font-weight: normal;
}

#header {
  padding: 1em 0;
}

#nav {
  padding: 1em 0;
}

#nav li {
  list-style: none;
  float: left;
  margin-right: 1em;
}

#nav li a {
  background: #eee;
  border-radius: 2px;
  border: 1px solid #aaa;
  padding: 0.2em 0.5em;
}

#index .band {
  font-size: 1.2em;
  padding: 0.25em 0;
}